body{
    font-family: Roboto;
}
.header{
    background-color: #1f2937;
}
.bulk{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.quote{
    background-color: #e5e7eb;
}
footer{
    background-color: blue;
    height: 100px;

}
.random{
    width: 200px;
    height: 200px;
    border: blue;
    border-radius: 10px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.RandomImages{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}