body{
    background-color: rgb(32, 98, 156);
    font-family: Roboto;
}
.header{
    background-color: #1f2937;
}
.bulk{
    display: flex;
    flex: 1;
    flex-direction: column;
}
#BottomImage{
    width: 400px;
    height: 300px;
}
#quote{
    background-color: #E5E7EB;
}
footer{
    background-color: blue;
    height: 100px;

}
.signup{
    background-color: #3882F6;
}
.random{
    width: 200px;
    height: 200px;
    border: blue;
    border-radius: 10px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.RandomImages{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}