body{
    font-family: Roboto;
}
.header{
    background-color: #1f2937;
}
.main{
display: flex;
}
.quote{
    background-color: #e5e7eb;

}
.signup{

}
footer{

}
.random{
    width: 200px;
    height: 200px;
    border: blue;
    border-radius: 10px;
}